<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="YTLiveChatFilter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="YTLiveChatFilter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <userSettings>
  <YTLiveChatFilter.Properties.Settings>
   <setting name="ClientSecretPath" serializeAs="String">
    <value />
   </setting>
   <setting name="UseOAuth20" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="APIKey" serializeAs="String">
    <value />
   </setting>
   <setting name="BanWords" serializeAs="String">
    <value />
   </setting>
   <setting name="BanPermanent" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BanDuration" serializeAs="String">
    <value>300</value>
   </setting>
   <setting name="DeleteMessage" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BanTemporary" serializeAs="String">
    <value>True</value>
   </setting>
  </YTLiveChatFilter.Properties.Settings>
 </userSettings>
 <applicationSettings>
  <YTLiveChatFilter.Properties.Settings>
   <setting name="DefaultBanWords" serializeAs="String">
    <value>http://,https://,ftp://,.com,adult,sex,kid,fuck,bitch,whore,child,porn,dick,rape,pussy,creampie,blow,video</value>
   </setting>
   <setting name="AppName" serializeAs="String">
    <value>YTLiveChatFilter</value>
   </setting>
   <setting name="DefaultTimeoutSeconds" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="AuthStoreFolderName" serializeAs="String">
    <value>AuthStore</value>
   </setting>
  </YTLiveChatFilter.Properties.Settings>
 </applicationSettings>
</configuration>